.navbar{
background-color: rgb(0, 0, 0);
}
.menu-navegacion ul{
list-style: none;
display: flex;
justify-content: space-between;
gap: 2rem;
margin: 0;
padding: 0;
border-color: rgb(58, 205, 21);
}  

.menu-navegacion a{
    color:rgb(4, 236, 28);
    text-decoration: none;
    font-family: Algerian;
    color:rgb(30, 189, 125)
}

.menu-navegacion a:hover{
    color: gold;
    font-size: xx-large;
}

.contenedor-tarjeta{
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items:center;
}

.tarjeta{
  background-color:maroon;
  border: 5px solid #000000;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70vh;
}

.tarjeta img{
    height: 20rem;
    width: 20rem;

}
